body{
    color: #FFCD00 !important;
    background-color: #000 !important;
}

.carousel, .cont-offers, .aboutUs, .contact-us{
    width:  100% !important;
    height: auto !important;
}


.nav-style{
    background-color: #242424;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    
}

.navbar-toggler-icon{
    color: #FFCD00 !important;
}


.title-seccion{
    margin: 5px;
    font-family: KingDrops;
    
}

.name-nav img{
    width: 190px;
    padding: 0;
    margin: 0;

}

.nav-style a{
    color: #FFCD00;
}

.nav-style a:hover{
    color: #FEFF0D;
}

.dropdown-menu{
    background-color: #242424 !important;
}

.dropdown-menu a{
    color: #FFCD00;
}

.dropdown-menu a:hover{
    background-color: #4D4D4D;
    color: #FEFF0D;
}


.fab-icons{
    font-size: 25px;
}


/*- Nav -*/



.cont-offers, .cont-about-us{    
    padding-bottom: 10px;
}

.card{
    background-color: #242424 !important;
}

.card img{
    height: 15rem;
    width: auto;
}

.btn-card{
    background-color: #FF0000 !important;
    color: #FFCD00 !important; 
}

/*---About us---*/
.img-aboutus{
    height: 100%;
    width: 100%;
    
}


.fab-icons-footer{
    font-size: 15px;
}

.cont-footer{
    padding: 5px;
    background-color: #242424;
    color: #FFCD00;

}

.info-footer p{
    margin-bottom: 0 !important;
}

.map-container-7 iframe{
    height: 100% !important;
    width: 100%;
}





@font-face{
    font-family: "KingDrops";
    src: url("../src/font/KingdropsScript.ttf");
    font-display: block;
}

